@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Caveat:wght@500&family=Dancing+Script:wght@700&family=Patrick+Hand&display=swap');

// =========================
// Variables
// =========================
$light-grey: #d3d3d3;
$yellowish: #eeebdd;
$pink: #fe739d;
$blue: #72ddf7;

// =========================
// Body/Main Styles
// =========================
* {
  box-sizing: border-box;
  transition: 150ms;
  margin: 0;
}

body {
  // background-image: url("https://i.imgur.com/96b3fcK.jpg");
  background-color: $yellowish;
  background-position: center;
  background-size: cover;
  min-height: 102vh;
}

// HTML Audio tag
audio {
  margin-bottom: 2rem;
}
audio::-webkit-media-controls-enclosure {
  border: 2px solid $blue; 
}
// audio::-webkit-media-controls-play-button {
//   background-color: $light-grn;
//   border-radius: 50%;
// }
// audio::-webkit-media-controls-play-button:hover {
//   transform: scale(1.07);
//   transition: 250ms;
// }

// =========================
// NavBar
// =========================
.App {
  
  .hero {
    background-image: url("https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fwallpapercave.com%2Fwp%2Fwp2481147.png&f=1&nofb=1");  
  }
  h1 {
    font-family: 'Patrick Hand', cursive;
  }
  .nav {
    display: flex;
    justify-content: center;
  }
}

// =========================
// Modal
// =========================
.modal-card-body {

  span {
    font-family: 'Dancing Script', cursive;
  }
}

// =========================
// Carousel
// =========================
#left-arrow:hover, #right-arrow:hover {
  transform: scale(1.1);
  color: rgba(0,0,0, .8);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 6px;
}

#left-arrow {
  position: absolute;
  top: 45%;
  left: -1rem;
  font-size: 3rem;
  color: rgba(0, 0, 0, 0.3);
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

#right-arrow {
  position: absolute;
  top: 45%;
  right: -1rem;
  font-size: 3rem;
  color: rgba(0, 0, 0, 0.3);
  z-index: 10;
  cursor: pointer;
  user-select: none;
}


// =========================
// Ices (Index)
// =========================
.ices-container {
  // border: 2px dashed blue;
  margin: 5rem auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 2000px;

  .ice:hover {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
  .ice {
    margin: 30px 30px;
    border-radius: 10px;
    border: solid 7px $pink; 
    clip-path: polygon( 
      calc(0% + 5px) calc(0% + 5px), /* top left */
      calc(100% - 5px) calc(0% + 5px), /* top right */
      calc(100% - 5px) calc(100% - 5px), /* bottom right */
      calc(0% + 5px) calc(100% - 5px) /* bottom left */
    );
    // transition: clip-path 0.6s linear;

    img {
      border-bottom: 2px dashed $light-grey;
    }

  }
}

// =========================
// Ices (Show)
// =========================
.single-ice {
  border-top: 2px dashed pink;
  border-bottom: 2px dashed pink;
  margin-bottom: 2rem;

  .icon {
    transition: unset;
  }

}

// =========================
// Form
// =========================
form {
  // border: 2px dashed green;
  margin: 5rem 7rem;
}